{% extends "portal/mainpage.html" %}
{%block title%}
<title>ChangedPassword</title>
{%endblock title%}
{% block content %}

<div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">QUICK LINKS</li>
              <li class="active"><a href="/aics_portal">General</a></li>
              <li><a href="#">Budget Control</a></li>
              <li><a href="#">Inventories</a></li>
              <li><a href="#">Engine Logbook</a></li>
              <li class="nav-header">General</li>
              <li><a href="#"Crew Managemnet</a></li>
              <li><a href="#">Purchases</a></li>
              <li><a href="#">Maintenance</a></li>
              <li><a href="#">Reports</a></li>
              <li class="nav-header">FAVOURITES</li>
              <li><a href="#">Document Management</a></li>
              <li><a href="#">Certificates</a></li>
              <li><a href="#"></a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->

<div class="span10">
<h2>Password Sucessfully Changed</h2>




</div>
</div>
</div>





{% endblock %}
