{% extends "portal/requisition.html" %}

{%block title%}<title>REQUISITION </title> {%endblock title%}


	

 
     {% block content %}
     
    {% ifnotequal galore '' %}
   <div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h3></h3>
  </div>
  <div class="modal-body">
 
 
<div class="span4" style="background-color:; margin-left:0px;">
<p> ID <b style="font-color:red;">&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp  rqst0{{rqst_detail.requisition_ID}}</b></p>
<p> Requisition By <b>&nbsp &nbsp {{rqst_detail.requisitioner}}</b></p>
<p> Department <b>&nbsp &nbsp &nbsp &nbsp{{rqst_detail.department}}</b></p>
<p> Status <b>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp{{rqst_detail.status}}</b></p>
<p> Order date <b>&nbsp &nbsp &nbsp &nbsp &nbsp{{rqst_detail.order_state}}</b></p>
<p>Reason <b>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp{{rqst_detail.reason_for_required_item}}</b></p>
</div>   
<div class="span2">

<form class="form-horizontal" style=""  action="." method="post">
		<fieldset>
	    
		{{ request_form.as_p }}
		rytt
		 
    
     	<!--<input type="submit" value="Submit" value="Login!" />-->
     	
	
          <button style=""class="btn btn-primary" type="submit" value="" >
        <b>APPROVE</b></button>     	
     	</fieldset>
     	
  	</form>


</div>  


<div class="span4"style="margin-left:0px; background-color: ;">

<p> 
<table class ="table table-striped table-bordered table-condensed " style = "width:; background-color:white; margin-top:-9px; margin-left: -20px;"> 

  <thead>
   <tr>
  <th><a  style  = " position:relative;margin-left:0px;">QUANTITY </a></th>
  <th><a style  = " position:relative;margin-left:0px;">UNIT</a></th>
 
  <th><a  style  = " position:relative;margin-left:0px;">ITEM</a></th>
  <th><a  style  = " position:relative;margin-left:0px;">QUOTE</a></th>
  
  

	</tr>
	</thead>
		<tbody>

 {% for c in order_detail %}
<tr>
  <td>{{c.quantity}}</td>
  <td>{{c.unit}}</td>
  <td>{{c.item}}</td>
  <td>{{c.quote}}</td>  
  </tr>
 
 {% endfor %}

</tbody>
</table>
</p>



         
    
   
    
    
  </div>
  
  </div>
  <div class="modal-footer">
    <a href="/requisition/today/" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
     {% endifnotequal %}
     
     
<div class = "container"style="background-color:pink;text-align:center;">  <h3>Welcome to Requisitions</h3></div>  
  
 <div class="container" style ="height:530px; background-color : #ECE5B6;">

 
          
  	 <div class="container" style="background-color:;">
  		  <div class="span3" style="background-color:pink; margin-left:0px; ">  		
  		   <div  class ="well" style="background-color: grey;">
           <ul class="nav nav-list" style="background-color: yellow; margin-left:-15px;">
             
              <li class=""><a  href ="/requisition"><i class="icon-book"></i>Requisitions</a></li>
               <li class="active"><a  href ="/requisition/today/"><i class="icon-book"></i>Today({{requisitions_tod.count}})</a></li>
              <li><a href="#" ><i class="icon-book"></i>This Week ()</a></li>
               <li><a href="#" ><i class="icon-book"></i>This Month ()</a></li>
               <li><a href="#" ><i class="icon-book"></i>This Year ()</a></li>
               <li><a href="#" ><i class="icon-book"></i>All ()</a></li>
              <li class=""><a  href ="/aics_portal"><i class="icon-book"></i>Main Page</a></li>
              
              
            </ul>
            </div>
         
  		 
  		  </div>

    			<div class="span9" style="position: ; background-color:black; margin-top:0px;">
      			<!--Sidebar content-->
      <table class ="table table-striped" style = "width:; background-color:white; margin-top:0px; margin-left: -20px;"> 

  <thead>
     <tr>
  <th><a  style  = " position:relative;margin-left:0px;">ID</a></th>
  <th><a  style  = " position:relative;margin-left:0px;">DEPARTMENT</a></th>
  <th><a  style  = " position:relative;margin-left:0px;">BY </a></th>
  
  

	</tr>
	</thead>
		<tbody>
	
			 
  {% for c in requisitions_tod %}
	<tr>
  <td>{{c.requisition_ID}}</td>
  <td>{{c.department}}</td>
   <td>{{c.requisitioner}}</td> 
   <td><a href="/requisition/details/{{c.requisition_ID}}/True" >View details</a> </td>
   </tr>
 

{% endfor %}
</tbody>
</table>
           
                 
                
            
            
             
             
           
             
          

		
  		
  








</div>



</div>
</div>

  


     {% endblock %}


